// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #969696;

$inactive-text-gray: #4f4f4f;
$electric-blue: #006eff;
$border-gray: #4A4A4A;
$medium-gray: #303030;
$orange: #FF3100;
$black: #0c0c0c;
// primary-light: ;
$bone-white: #d8d8d8;


// .card {
//   background-image: linear-gradient(120deg,rgba(255,255,255,.03), rgba(255,255,255,.02));
//   color: rgba(255,255,255,.5);
//   padding: 28px;
//   margin-top: 24px;
//   box-shadow: 0px 0px 16px rgba(0,0,0,.4);
// }
