.profile-text {
  color: $bone-white;

}

.url-row {
  margin-bottom: 32px;
}
.url-list {
  margin-top: 16px;
}


.profile-row-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  span {
    font-size: 14px;
  }
}

.profile-row-username {
  display: flex;
  margin-top: 16px;
  h3, a {
    margin: 0px;
    margin-right: 8px;
    margin-top: auto;
    font-size: 20px
  }
}

.profile-avatar {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.profile-location-text {
  font-size: 14px;
  margin-top: 8px;
  span {
    color: $electric-blue;
    margin-right: 3px;
  }
}
.url-list p {
    margin-bottom: 4px;
    padding: 0px;
    font-size: 14px;
    color: $inactive-text-gray;
    // text-transform: uppercase;
}
