.url-list {
  margin-top: 16px;
}


.profile-row-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 14px;
  }
}

.profile-row-username {
  display: flex;
  h3, a {
    margin: 0px;
    margin-right: 8px;
    margin-top: auto;
  }
}

.profile-avatar {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}

.profile-location-text {
  font-size: 14px;
}
.url-list p {
    margin-bottom: 4px;
    padding: 0px;
    font-size: 14px;
    color: $medium-gray;
    // text-transform: uppercase;
}
