<div class="container">
  <%= form_tag users_path, method: :get do %>
    <%= text_field_tag :query, params[:query], class: "", placeholder: "Search Profiles" %>
  <% end %>
  <%= render 'shared/tabs' %>

</div>

