<!-- Tabs -->
<div class="container">
  <div class="tabs">
    <div class="tabs-item active">
      <h5><%= link_to 'EVENTS', events_path, class: current_class?(events_path) %></h5>
    </div>
    <div class="tabs-item">
      <h5><%= link_to 'PAST', past_events_path, class: current_class?(past_events_path) %></h5>
    </div>
    <div class="tabs-item">
      <h5><%= link_to 'PROFILES', users_path, class: current_class?(users_path) %></h5>
    </div>
  </div>
 <!--  <div class="tabs-display">
    <img class="display-content" src="images/testimg.jpg" alt="">
  </div> -->
</div>
