<h2>Create Event</h2>
<%= render "venues/form" %>
<%= simple_form_for @event, html: { method: :post } do |f| %>

  <div class="form-inputs">
     <%= f.association :venue %>

  </div>


  <div class="form-actions">
    <%= f.button :submit, "Add Event" %>
  </div>
<% end %>

