
input[type="button"],
input[type="submit"] {
     -webkit-border-radius: 0;
     border-radius: 0;
}

.btn {
}

.btn-grey {
  box-sizing: border-box;
  height: 36px;
  margin: 0px 0px;
  // display: inline-block;
  border-radius: 0px;
  color: black;
  background-color: $light-gray;
  border: none;
  font-size: 14px;
}

#filter-btn {
  margin-right: 8px;
  padding: 0px 16px;
  // height: 0px;
  line-height: 36px;
  background-color: $light-gray;
}


