.card {
  // @include gradient-horizontal(rgba(255,255,255,.06), rgba(255,255,255,.02));
  background: linear-gradient(45deg, rgba(255,255,255,.06), rgba(255,255,255,.02));
  padding: 8px;
  border: none;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card a {
  text-decoration: none;
  color: $bone-white;
}
