.card {
  // @include gradient-horizontal(rgba(255,255,255,.06), rgba(255,255,255,.02));
  background: linear-gradient(45deg, rgba(255,255,255,.05), rgba(255,255,255,.03));
  // background: $black;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  padding: 0px;
  box-shadow: 0px 0px 8px #070707;
  border: none;
  border-radius: 0;
  display: flex;
  margin-top: 20px;
  // justify-content: center;
  // align-items: center;
  a {
    text-decoration: none;
    color: $bone-white;
  }
}

.card-text {
  padding: 8px;

}

.card-details {
    h1 {
      font-size: 20px;
      // font-weight: bold;
    }
    p {
     font-size: 14px;
     // margin: 0px
    }
    .card-date-row {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 8px;
      .card-date {
        color: $bone-white;
        font-size: 12px;
      }
       a {
        text-decoration: none;
        // color: $inactive-text-gray;
      }
    }
    .card-location-row {
      display: flex;
      span {
        font-size: 14px;
        margin-right: 8px;
      }
      p {
        margin: 0px;
      }
    }
  }

  .card-show-text {
    margin-top: 32px;
    // opacity: .2;
    color: $inactive-text-gray;
  }


.card-banner {
  display: flex;
  flex-direction: row-reverse;
}

.card-banner-image {
  // width: 100%;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    font-size: 20px;
    color: $inactive-text-gray;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 16px;
  }
}

.card-show-image {
  height: 270px;
  width: 100%;
  margin: auto;
}



