// .form-control {
//   background-color: $black;
//   color: $bone_white;
// }

// .form-control:focus {
//   background-color: $black !important;
//   border-color: $bone_white;
//   color: $bone_white;
//   box-shadow: none;
// }

// .form-inputs-custom {
//   background-color: $black;
//   border-radius: none;
// }

.form-control {
  border-color: $inactive-text-gray;
  color: $inactive-text-gray;
  margin-top: 8px;
  &:focus {
    border-color: $bone_white;
    box-shadow: none;
  }
}


.form-actions > input {
  color: $inactive-text-gray;
  &:focus {
    box-shadow: none;
  }
}

