.page-nav-container {
  margin-top: 24px;
  margin-bottom: 40px;
  max-width: 100%;
  text-align: center;
}

div.pagination {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  display: block;
}

div.pagination * {
  margin: 0 4px;
}
