.tabs {
  /*padding: 5px 5px 0 5px;*/
  color: $inactive-text-gray;
  display: flex;
  margin-top: 24px;
}


.tabs h5 {
  color: $inactive-text-gray;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 16px;
  // a {
  //   color: $inactive-text-gray;
  // }
}
.tabs-item {
  flex: 1 0 auto;
  text-align: center;
  border-bottom: 1px solid $border-gray;
  justify-content: center;
  /*margin: 5px 5px 0 5px;*/
}


.tabs-item.active {
  border: 1px solid $border-gray;
  border-bottom: none;
  // background-color: rgbA(0,0,0,.2);
  h5, a {
    color: $bone-white;
  }
}

.tabs-display {
  height: 500px;
  border: 1px solid $border-gray;
  border-top: none;
  /*background:  rgb(12,12,12) linear-gradient(180deg,
    rgba(12,12,12,.6) 0%,
    rgba(0,0,0,.5) 50%)/*,
  url("../../images/testimg.jpg");
  background-size: cover; */
}

.display-content {
  max-width:100%;
  height: auto;
}

.no-results-notice {
  text-align: center;
  margin-top: 64px;
  color: $inactive-text-gray;
  font-size: 14px;
}

@media (max-width: 576px) {
  .tabs h5 {
    font-size: 11px;
    margin: 14px;
  }
}
