// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/webkit_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $bone-white;
  background-color: $black;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  line-height: 16px;
}

.contain-this {
  margin: 0px 16px;
  margin-top: 94px;
  margin-bottom: 80px;
}

a > h1:hover {
  opacity: .8;
}

#map {
    height: 200px;
  }




// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {
//   .card {
//     grid-template-columns: 1fr;
//     margin-top: 50px;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .card {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contain-this {
    margin-left: 24px;
    margin-right: 24px;
    // width: 600px;
    // margin-right: auto;
    // margin-left: auto;
  }

  //write jquery conditional - if #contain-this does not have div.desktop-flex add this class,
  //otherwise set its class to .contain-this
  .contain-this-more {
    width: 600px !important;
    margin-right: auto;
    margin-left: auto;
  }

  .desktop-flex {
    display: flex;
  }

  .listings-desktop-container, .nav-desktop-container {
    width: 50%;
    padding: 0px 10px;
  }

  .listings-desktop-container {
    height: 100vh;
    overflow: scroll;
  }

  #map {
    height: 350px;
  }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .card {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .card {
//     grid-template-columns: 1fr 1fr;
//   }
// }
