// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/webkit_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  color: $bone-white;
  background-color: $black;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  line-height: 16px;
}

.contain-this {
  margin: 0px 16px;
  margin-top: 94px;
  margin-bottom: 80px;
}

a > h1:hover {
  opacity: .8;
}




// // Small devices (landscape phones, 576px and up)
// @media (max-width: 576px) {
//   .card {
//     grid-template-columns: 1fr;
//     margin-top: 50px;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .card {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contain-this {
    // width: 600px;
    // margin-right: auto;
    // margin-left: auto;
    // margin-left: 40px;
    // margin-right: 40px;
  }

  .desktop-flex {
    display: flex;
  }

  .listings-desktop-container, .nav-desktop-container {
    width: 50%;
    // flex-grow: 1;
    padding: 0px 10px;
  }

  .listings-desktop-container {
    height: 100vh;
    overflow: scroll;
  }
  // .nav-desktop-container {
  //    flex-grow: 1;
  // }
}

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .card {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .card {
//     grid-template-columns: 1fr 1fr;
//   }
// }
